<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 类型可以不用带 -->
<mapper namespace="com.kiiik.vas.base.dao.BaseDataDao" >
  	 <resultMap id="MainContract" type="com.kiiik.vas.base.vo.MainContract"/>
  	  <resultMap id="String" type="java.lang.String"/>
     <select id="getNewlyMainContract" resultMap="MainContract" >
       SELECT SECUID,PRODUCT,EXCHANGE_ID EXCHANGE FROM T_VA_MAIN_CONTRACT_ANALYSIS 
      	WHERE RECORD_DATE=(SELECT MAX(RECORD_DATE) FROM T_VA_MAIN_CONTRACT_ANALYSIS )
    </select>
</mapper>